[submodule "src/mavlink"]
	path = src/mavlink
	url = git@github.com:uci-overRID/mavlink.git
[submodule "src/opendroneid"]
	path = src/opendroneid
	url = git@github.com:opendroneid/opendroneid-core-c.git
