[submodule "src/mavlink"]
	path = src/mavlink
	url = https://github.com/uci-overRID/mavlink.git
[submodule "src/opendroneid"]
	path = src/opendroneid
	url =  https://github.com/uci-overRID/opendroneid-core-c.git
